<table class="users-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Login</th>
        <th>Roles</th>
        <th>Animals</th>
    </tr>
    </thead>

    <!-- insert data -->
    <tbody></tbody>
</table>