<table class="animals-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Age</th>
            <th>Cage</th>
            <th>Keeper</th>
        </tr>
    </thead>

    <!-- insert data -->
    <tbody></tbody>
    <tfoot>
        <tr>
            <td colspan="5">Animals table footer</td>
        </tr>
    </tfoot>
</table>