<div class="#login">
    <h2>Log in</h2>
    <div class="userplace">
        <label for="login">User name:</label>
        <input type="text" id="login" value={{user.login}}>
    </div>
    <div class="userplace">
        <label for="pass">Password:</label>
        <input type="text" id="pass" value={{user.password}}>
    </div>
    <div class="buttonplace">
        <input type="button" id="loginBtn" value="Log in">
    </div>
</div>
