<div class="login">
    <h2>Log in</h2>
    <div class="loginFailed"></div>
    <div class="userplace">
        <label for="login">User name:</label>
        <input type="text" id="login" value={{user.login}}>
    </div>
    <div class="userplace">
        <label for="pass">Password:</label>
        <input type="text" id="pass" value={{user.password}}>
    </div>

    <div id="login_info">
        <!-- todo отображать login в одну строчку -->
        <a id="regiter_new_user" href="#admin/new">register</a>
        <div class="userplace">
            <label for="rememberMe">Keep me logged in</label>
            <input type="checkbox" id="rememberMe" checked>
        </div>
        <div class="buttonplace">
            <input type="button" id="loginBtn" value="Log in">
        </div>
    </div>
</div>
