<header>
    <ul>
        <li><a href="#">Home</a></li>
        <li class="export">
            <a href="javascript:void(0)" class="dropbtn">Export</a>
            <div class="export-dropdown">
                <a href="/export/json">JSON</a>
                <a href="/export/csv">CSV</a>
                <a href="/export/excel">Excel</a>
            </div>
        </li>
        <li class="log-out">
            <a href="#login">Log out</a>
        </li>
    </ul>
</header>
