@import "variables.less";

#admin-users {
  padding: 4em 1em;

  //max-width: 50em;
  position: absolute;
  top: 40%;
  left: 40%;

  //width percent of body
  width: 50%;
  margin: -15% 0 0 -10%; /* Выравниваем по центру */

}