<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/components/normalize-css/normalize.css' />
      <link rel='stylesheet' href='/less/styles.min.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
